<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:8889/Agenda2017?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping resource="entite/User.hbm.xml"/>
    <mapping resource="entite/LienUserGroupe.hbm.xml"/>
    <mapping resource="entite/Partage.hbm.xml"/>
    <mapping resource="entite/Groupe.hbm.xml"/>
    <mapping resource="entite/Amis.hbm.xml"/>
    <mapping resource="entite/Evenement.hbm.xml"/>
    <mapping resource="entite/Agenda.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
